# Specify languages for file types
*.js linguist-language=JavaScript
*.php linguist-language=PHP
*.html linguist-language=HTML
*.css linguist-language=CSS

# Mark specific files or directories as generated (optional)
/public/css/app.css linguist-generated=true
/public/js/app.js linguist-generated=true
